<div class="tj-main-sidebar p-0 slidebar-stickiy">

    <!-- SEARCH -->
    <div class="tj-sidebar-widget widget-search wow fadeInUp">
        <h4 class="widget-title">Recherche</h4>
        <div class="search-box">
            <form method="get" action="{{ blog_index.url }}">
                <input
                    type="search"
                    name="search"
                    placeholder="Recherche..."
                    value="{{ search_query|default:'' }}"
                >
                {% if selected_tag %}
                    <input type="hidden" name="tag" value="{{ selected_tag }}">
                {% endif %}
                <button type="submit">
                    <i class="tji-search"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- TAGS -->
    <div class="tj-sidebar-widget widget-tag-cloud wow fadeInUp">
        <h4 class="widget-title">Tags</h4>
        <div class="tagcloud">
            {% for tag in all_tags %}
                <a href="{{ blog_index.url }}?tag={{ tag.slug }}"
                   class="{% if tag.slug == selected_tag %}active{% endif %}">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>
