{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}

<main id="primary" class="site-main">
    <div class="space-for-header"></div>
    <section class="tj-page-header section-gap-x" 
        {% if page.featured_image %}
            data-bg-image="{{ page.featured_image.file.url }}"
        {% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tj-page-header-content text-center">
                        <h1 class="tj-page-title">{{ page.title }}</h1>
                        <div class="tj-page-link">
                            <span><i class="tji-home"></i></span>
                            <span>
                                <a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a>
                            </span>
                            <span><i class="tji-arrow-right"></i></span>
                            <span>
                                <span>{{ page.title }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header-overlay"  
            {% if page.featured_image %}
                data-bg-image="{{ page.featured_image.file.url }}"
            {% endif %}>
        </div>
    </section>

    <section class="tj-blog-section section-gap slidebar-stickiy-container">
        <div class="container">
            
            <div class="row row-gap-5">
                <div class="col-lg-8">
                    <div class="post-details-wrapper">
                        {{page.description|richtext}}

                        {% comment %} nos servies expertise {% endcomment %}
                        <div class="details-content-box">
                            {% for block in page.services %}
                                {% if block.block_type == 'items' %}
                                    {% for item in block.value %}
                                        <div class="service-details-item wow fadeInUp" data-wow-delay=".6s">
                                            <div class="service-number">
                                                <span class="number">{{ forloop.parentloop.counter }}</span>
                                                <h6 class="title">{{ item.title }}</h6>
                                                <div class="desc">
                                                    <p>{{ item.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        {{page.content|richtext}}

                        {% comment %} benifits {% endcomment %}
                        <section class="tj-careers-details ">
                                <div class="tj-entry-content">
                                    <div class="tj-check-list">
                                        <ul class="wow fadeInUp" data-wow-delay="0.6s">
                                            {% for block in page.benifits %}
                                                {% if block.block_type == 'items' %}
                                                    {% for item in block.value %}
                                                        <li><span><i class="tji-check"></i></span> {{ item.description }}</li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                        </section>
                        <div class="blog-text pt-5">
                            <h3 class="wow fadeInUp" data-wow-delay=".3s">FAQ</h3>
                            <div class="accordion tj-faq style-2" id="faqOne">
                                {% for block in page.faq %}
                                    {% if block.block_type == 'items' %}
                                        <div class="accordion tj-faq style-2" id="faq-group-{{ forloop.counter }}">
                                            {% for item in block.value %}
                                                <div class="accordion-item wow fadeInUp" data-wow-delay=".3s">
                                                    <button
                                                        class="faq-title collapsed"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#faq-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                                        aria-expanded="false"
                                                    >
                                                        {{ item.question }}
                                                    </button>
                                                    <div
                                                        id="faq-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                                        class="collapse"
                                                        data-bs-parent="#faq-group-{{ forloop.parentloop.counter }}"
                                                    >
                                                        <div class="accordion-body faq-text">
                                                            {{ item.answer|richtext }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {{ page.passe_to_action|richtext }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tj-main-sidebar slidebar-stickiy">
                        <div class="tj-sidebar-widget service-categories wow fadeInUp" data-wow-delay=".1s">
                            <h4 class="widget-title">Nos expertises</h4>
                            {% for expertise in expertises %}
                                <ul>
                                    <li class="py-1" >
                                        <a  href="{% pageurl expertise %}">
                                            {{ expertise.title }}
                                            <span class="icon">
                                                <i class="tji-arrow-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% comment %} contact section  {% endcomment %}
    <section class="tj-cta-section">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="cta-area">
                <div class="cta-content">
                <h2 class="title title-anim">Votre idée, notre expertise.</h2>
                <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                    <a class="tj-primary-btn btn-dark" href="{{ page.get_contact_page.url }}">
                    <span class="btn-text"><span>Transformez votre idée</span></span>
                    <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                </div>
                </div>
                <div class="cta-img">
                <img src="{% static 'images/contact_4.webp' %}" alt="">
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>  
    <footer class="tj-footer-section footer-1 section-gap-x">
        <div class="footer-main-area">
        
        </div>
    </footer>
    
</main>


{% endblock %}
