{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
	<main id="primary" class="site-main">
		<div class="space-for-header"></div>
		<section class="tj-page-header section-gap-x"   
			{% if page.hero_image %}
				data-bg-image="{{ page.hero_image.file.url }}"
			{% endif %}>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="tj-page-header-content text-center">
							<h1 class="tj-page-title">{{ page.title }}</h1>
							<div class="tj-page-link">
								<span><i class="tji-home"></i></span>
								<span>
									<a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a>
								</span>
								<span><i class="tji-arrow-right"></i></span>
								<span>
									<span>{{ page.title }}</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-header-overlay"  
				{% if page.hero_image %}
					data-bg-image="{{ page.hero_image.file.url }}"
				{% endif %}
			>
			</div> 
		</section>

		{% comment %} section expertise {% endcomment %}
		<section class="tj-project-section section-gap">
			<div class="container">
				<div class="col-12">
					<div class="sec-heading text-center style-2">
						<span class="sub-title wow fadeInUp" data-wow-delay=".3s">Nos Expertises</span>
						<h2 class="sec-title text-anim">{{ page.introduction|richtext }}</h2>
					</div>
				</div>
				<div class="row row-gap-4">
					{% for expertise in expertises %}
						<div class="col-xl-4 col-md-6">
							<div class="project-item wow fadeInUp" data-wow-delay=".5s">
								<div class="project-img">
									{% if expertise.featured_image %}
										<img src="{{ expertise.featured_image.file.url }}" alt="{{ expertise.title }}">
									{% endif %}
								</div>
								<div class="project-content">
									<div class="service-content">
										<h4 class="title pb-3"><a href="{% pageurl expertise %}">{{ expertise.title }}</a></h4>
										{% if expertise.summary %}
											<p class="desc">
												{{ expertise.summary }}
											</p>
										{% endif %}
										<a class="text-btn" href="{% pageurl expertise %}">
											<span class="btn-text"><span>En savoir plus</span></span>
											<span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	
		{% comment %} section logos client {% endcomment %}
		{% include 'portfolio/section_logos_client.html' with images=images %}

		

	</main>

{% endblock %}