{% load i18n %}


{% if messages %}

  <div class="modal" id="message_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header alert alert-success" role="alert">
		{% for message in messages %}
			<h5 class="modal-title">{{message}}</h5>
		{% endfor %}

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
			<p>Thank you for contacting us. We will get back to you shortly.<br>Have a great day!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}





