{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% block content %}
<main id="primary" class="site-main">
<div class="space-for-header"></div>
<!-- start: Breadcrumb Section -->
    <section class="tj-page-header section-gap-x" 
        {% if page.featured_image %}
            data-bg-image="{{ page.featured_image.file.url }}"
        {% endif %}
    >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tj-page-header-content text-center">
                        <h1 class="tj-page-title">{{ page.subtitle }}</h1>
                        <div class="tj-page-link">
                            <span><i class="tji-home"></i></span>
                            <span>
                                <a href="index.html">Home</a>
                            </span>
                            <span><i class="tji-arrow-right"></i></span>
                            <span>
                                <span>{{ page.subtitle }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header-overlay" 
            {% if page.featured_image %}
                data-bg-image="{{ page.featured_image.file.url }}"
            {% endif %}
        ></div>
    </section>

    <section class="terms-and-conditions section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div>
                        <h2>{{ page.title }}</h2>
                        {% comment %} <p class="muted">{{ page.last_updated }}</p> {% endcomment %}
                        {{ page.description|richtext }}
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
